{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react/recommended"
    ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "plugins": ["modules", "import", "es6-recommended", "react", "react-props", "mocha", "chai"],
  "globals": {
      "document": false,
      "__dirname": false
  },
  "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
  }
}